/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply styles to header */
header {
  background-color: transparent;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* Apply styles to navigation menu */
nav {
  background-color: transparent;
  /* Set navigation link color to white */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  /* Set navigation link color to white */
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6600;
}

/* Apply styles to main content */
main {
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
  background-color: transparent;
  /* Set background color to transparent */
  padding: 20px;
  /* Add some padding for readability */
}

h2 {
  font-size: 32px;
  color: #fff;
  /* Set heading color to white */
  margin-bottom: 20px;
}

p {
  color: #fff;
  /* Set paragraph text color to white */
  line-height: 1.5;
}

ul {
  animation: fadeIn 1s ease-in-out;
  list-style-type: disc;
  margin-left: 30px;
  color: #fff;
  /* Set list item text color to white */
}

/* Apply styles to footer */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 14px;
}

/* Add background image */
body {
  background-image: url('images/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* Required for overlay */
  color: #fff;
  /* Set default text color to white */
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent overlay color */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.project {
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
}

.about_me {
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated-image {
  width: 200px;
  height: 200px;
  animation: rotateHorizontal 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}